<form asp-action="ForgotPassword" method="post" class="login-container">
    <h2>Password recovery</h2>
    <label for="email">Your email address</label>
    <input type="email" name="email" id="email" required />
    <button type="submit">Send email for recovery</button>
</form>
