@{
    ViewData["Title"] = "Підтвердження реєстрації";
}

<section class="py-5" style="background: linear-gradient(135deg, #ffe0f0, #e0d4f7);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h1 class="display-4 fw-bold" style="color: #8d50c7;">📧 Confirmation letter sent!</h1>
                <p class="lead my-4" style="color: #5a5a5a;">  We have sent a confirmation email to your email address.
                    Please check your inbox or spam folder and click on the link to activate your account.
                </p>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</section>

