@{
    ViewBag.Title = "Скидання паролю";
    var token = ViewBag.Token as string;
}

<form asp-action="ResetPassword" method="post" class="login-container">
    <h2>Enter new password</h2>
    <input type="hidden" name="token" value="@token" />

    <label for="newPassword">New password</label>
    <input type="password" name="newPassword" id="newPassword" required />

    <button type="submit">Reset password</button>
</form>
